
html{
    scroll-behavior: smooth;
}

body{
    background: darkred; 
}


.navbar .navbar-nav .nav-link{
    color:red;
    font-family: 'Fredoka One', cursive;
    
}

.navbar .navbar-nav .nav-item > a:hover {
  color: aqua;
}

.navbar{
    background-color: black;
  top: 0;
  width: 100%;
    position:relative;
    
}



.jumbotron{
    height: 750px;
    background-image: url("../Pictures/wp2343898-synthwave-wallpapers.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(109, 241, 216);
    position: relative;
    padding-top: 3px;
    overflow: hidden;
    
      
}


.map{
text-align: center;
    display:block;
}

.aboutMeList{
      font-family: 'Fredoka One', cursive;
        text-align: center;
    list-style-type:hiragana;
    list-style-position: inside;
    color: rgb(109, 241, 216);
}

.divCV{
   text-align: center;
font-family: 'Fredoka One', cursive;
    font-size:25px;
}




.aboutMe{
    
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: rgb(109, 241, 216);
}

.divContactSection{
}

.projects{
    background: darkred; 
}


.test.display-4{
    text-align: center;
    font-family: 'Fredoka One', cursive;
}


.test2.lead{
    text-align: center; 
    font-family: 'Fredoka One', cursive;
}

.projectListing1 {
  
}

.projectListing2{
    padding-left: 24px;   
}

.projectListing3{
       
   padding-left: 24px;  
}


.captions{
    
    background-color: black;
    width:420px;
    color:white;
    border-radius: 25px;
    
    
}

#projectDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Fredoka One', cursive;

}

.projectHeader{
    text-align: center;
     font-family: 'Fredoka One', cursive;
    align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.copyRight {
     position: absolute;
  bottom:-20px;
  right: 0px;
font-size: 10px;
}

a {
    color:red
}


a:hover{
     color: aqua;
}

